//********************
//* color palette
//********************
$color-1: #000000;
$color-2: #31708f;
$color-3: #333333;
$color-4: #337ab7;
$color-5: #3c763d;
$color-6: #444444;
$color-7: #534d64;
$color-8: #555555;
$color-9: #5d5670;
$color-10: #5cb85c;
$color-11: #65697a;
$color-12: #666666;
$color-13: #66727d;
$color-14: #677785;
$color-15: #6a6578;
$color-16: #6ea674;
$color-17: #6a80e6;
$color-18: #757083;
$color-19: #777777;
$color-20: #778591;
$color-21: #79996a;
$color-22: #808f9c;
$color-23: #829eb5;
$color-24: #8499ab;
$color-25: #888888;
$color-26: #8a6d3b;
$color-27: #93a0ab;
$color-28: #94a6b5;
$color-29: #9589b3;
$color-30: #99534d;
$color-31: #999999;
$color-32: #a2a5af;
$color-33: #a2b2bf;
$color-34: #a5e8d6;
$color-35: #aa9dcc;
$color-36: #abc3d7;
$color-37: #b29eb5;
$color-38: #bbe6a5;
$color-39: #bfcad3;
$color-40: #c4c3c7;
$color-41: #c9d2da;
$color-42: #cce8e2;
$color-43: #d66c60;
$color-44: #d8f5ee;
$color-45: #e2e7eb;
$color-46: #e56455;
$color-47: #e6d5a5;
$color-48: #e6e6e6;
$color-49: #ff0000;
$color-50: #f08377;
$color-51: #f5f5f5;
$color-52: #f8f8f8;
$color-53: #fa988d;
$color-54: #faf7cf;
$color-55: #fafafa;
$color-56: #ffafa6;
$color-57: #a5e6e6;
$color-58: #a94442;
$color-59: #afaabf;
$color-60: #b3c0c7;
$color-61: #c7254e;
$color-62: #cccccc;
$color-63: #d9edf7;
$color-64: #dddddd;
$color-65: #dfdfdf;
$color-66: #dff0d8;
$color-67: #e0ddeb;
$color-68: #e3e3e3;
$color-69: #e5e5e5;
$color-70: #e67c73;
$color-71: #ece9f5;
$color-72: #edebf5;
$color-73: #f2dede;
$color-74: #f5f5f5;
$color-75: #f7f7f7;
$color-76: #f8f8f8;
$color-77: #f9f2f4;
$color-78: #f9f9f9;
$color-79: #fcf8e3;
$color-80: #ffffff;
$color-81: #ffffff;
$color-82: #dfddf2;
$color-86: #ffffff;
$color-90: #ffffff;
