//********************
//* color palette
//********************
$color-1: #000000;
$color-2: #31708f;
$color-3: #ffffff;
$color-4: #337ab7;
$color-5: #3c763d;
$color-6: #444444;
$color-7: #416f81;
$color-8: #ffffff;
$color-9: #416f81;
$color-10: #5cb85c;
$color-11: #4e869c;
$color-12: #666666;
$color-13: #4e869c;
$color-14: #677785;
$color-15: #6a6578;
$color-16: #6ea674;
$color-17: #6a80e6;
$color-18: #757083;
$color-19: #777777;
$color-20: #2e4f5c;
$color-21: #79996a;
$color-22: #808f9c;
$color-23: #829eb5;
$color-24: #8499ab;
$color-25: #888888;
$color-26: #8a6d3b;
$color-27: #93a0ab;
$color-28: #4e869c;
$color-29: #8fb1b3;
$color-30: #99534d;
$color-31: #999999;
$color-32: #a2a5af;
$color-33: #1f4351;
$color-33: #1f4351;
$color-34: #416f81;
$color-35: #76bec1;
$color-36: #416f81;
$color-37: #305160;
$color-38: #bbe6a5;
$color-39: #396070;
$color-40: #305160;
$color-41: #487d90;
$color-42: #cce8e2;
$color-43: #d49366;
$color-44: #416f81;
$color-45: #e2e7eb;
$color-46: #ffffff;
$color-47: #e6d5a5;
$color-48: #305160;
$color-49: #ff0000;
$color-50: #addfb1;
$color-51: #253f4a;
$color-52: #f8f8f8;
$color-53: #e6ac83;
$color-54: #4e869c;
$color-55: #fafafa;
$color-56: #ffafa6;
$color-57: #a5e6e6;
$color-58: #ffffff;
$color-59: #afaabf;
$color-60: #396070;
$color-61: #c7254e;
$color-62: #cccccc;
$color-63: #d9edf7;
$color-64: #396070;
$color-65: #dfdfdf;
$color-66: #dff0d8;
$color-67: #e0ddeb;
$color-68: #e3e3e3;
$color-69: #e5e5e5;
$color-70: #f08377;
$color-71: #ece9f5;
$color-72: #edebf5;
$color-73: #f2dede;
$color-74: #f5f5f5;
$color-75: #f7f7f7;
$color-76: #f8f8f8;
$color-77: #f9f2f4;
$color-78: #f9f9f9;
$color-79: #416f81;
$color-80: #2e4f5c;
$color-81: #ffffff;
$color-82: #dfddf2;
$color-83: #1f4351;
$color-86: #ffffff;
$color-90: #ffffff;
